In [14]:
import requests
import json
import pandas as pd
import mysql.connector
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text
import datetime
password = 'Nimo_db_password'

import warnings
warnings.filterwarnings('ignore')

In [15]:

bd = "gps_jamming"
connection_string = 'mysql+pymysql://admin:' + password + '@database-1.c1em0ggakjnc.eu-north-1.rds.amazonaws.com:3306/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://admin:***@database-1.c1em0ggakjnc.eu-north-1.rds.amazonaws.com:3306/gps_jamming)

In [16]:
def api_call(lat=55.620824, lon=17.771781, radius=600):
    
    '''
    API call with defult location set to the middle of baltic sea
    can be changed at function call 
    '''
    
    base_url = 'https://api.airplanes.live/v2/point/'

    url = f'{base_url}{33.951715}/{34.684787}/{radius}'
#     url = f'{base_url}{lat}/{lon}/{radius}'

    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
    else:
        print('error', response.status_code)
    return data

In [17]:
from datetime import datetime

def get_airline_id(airline_code):
    with engine.connect() as connection:
        result = connection.execute(
            "SELECT id_airline FROM airline WHERE airline_code = %s",
            (airline_code,)
        ).fetchone()
        return result[0] if result else None

def get_aircraft_type_id(aircraft_type):
    with engine.connect() as connection:
        result = connection.execute(
            "SELECT id_type FROM aircraft_type WHERE aircraft_type = %s",
            (aircraft_type,)
        ).fetchone()
        return result[0] if result else None

def get_flight_id(flight_id):
    with engine.connect() as connection:
        result = connection.execute(
            "SELECT id_flight FROM flight WHERE id_flight = %s", 
            (flight_id,)
        ).fetchone()
        return result[0] if result else None
    

def get_last_timestamp():
    with engine.connect() as connection:
        last_fetch = connection.execute(
            "SELECT MAX(timestamp) FROM flight"
        ).fetchone()
    last_timestamp_str = last_fetch[0]  
    if last_timestamp_str: 
        last_timestamp_datetime = datetime.strptime(last_timestamp_str, '%Y-%m-%d %H:%M:%S')
        return last_timestamp_datetime
    else:
        return None

In [18]:
def flight_insert(flight_data):
    updated_count = 0
    new_count = 0
    
    for flight_info in flight_data:
        hex_id = flight_info.get('hex', '')
        
        # Check if the flight already exists based on the 'hex' identifier
        flight_id = get_flight_id(hex_id)
        
        if flight_id is not None:
            # Flight already exists, update its timestamp
            with engine.connect() as connection:
                try:
                    timestamp_str = flight_info['timestamp'].strftime('%Y-%m-%d %H:%M:%S')
                    connection.execute(
                        "UPDATE flight SET timestamp = %s WHERE id_flight = %s",
                        (timestamp_str, flight_id)
                    )
                    updated_count += 1
                except Exception as e:
                    print(f"Error updating flight timestamp: {e}")
        else:
            # Flight does not exist, insert it into the 'flight' table
            airline_code = flight_info.get('airline', '')
            aircraft_type = flight_info.get('type', '')
            
            # Get airline and aircraft type IDs
            airline_id = get_airline_id(airline_code)
            aircraft_type_id = get_aircraft_type_id(aircraft_type)
            
            if airline_id is None:
                print(f"Error: Airline with code '{airline_code}' not found.")
                continue
            if aircraft_type_id is None:
                print(f"Error: Aircraft type '{aircraft_type}' not found.")
                continue
            
            timestamp_str = flight_info['timestamp'].strftime('%Y-%m-%d %H:%M:%S')
            
            # Insert flight data into the 'flight' table
            with engine.connect() as connection:
                try:
                    connection.execute(
                        "INSERT INTO flight (id_flight, reg, callsign, timestamp, id_airline, id_type) VALUES (%s, %s, %s, %s, %s, %s)",
                        (hex_id, flight_info['reg'], flight_info['flight'].strip(), timestamp_str, airline_id, aircraft_type_id)
                    )
                    new_count += 1
                except Exception as e:
                    print(f"Error inserting flight data: {e}")
                
    print(f"Updated {updated_count} flights' timestamps. Inserted {new_count} new flights.")

In [19]:
def airline_insert(aircraft_list):
    
    new_airline_count = 0
    existing_airline_count = 0
    
    for aircraft in aircraft_list:
        airline_code = aircraft['airline']
        with engine.connect() as connection:
            airline_exists = connection.execute(
                "SELECT id_airline FROM airline WHERE airline_code = %s", 
                (airline_code,)
            ).fetchone()

        if airline_exists:
            existing_airline_count += 1
        else:
            with engine.connect() as connection:
                try:
                    connection.execute(
                        "INSERT INTO airline (id_airline, airline_code) VALUES (DEFAULT, %s)", 
                        (airline_code,)
                    )
                    print(f'Airline {airline_code} inserted successfully.')
                    new_airline_count += 1
                except Exception as e:
                    print(f'Error inserting airline {airline_code}: {e}')

    print(f'Existing airlines in database: {existing_airline_count}\nAdded airlines to database: {new_airline_count}')

In [20]:
def aircraft_type_insert(aircraft_types):
    
    new_type_count = 0
    existing_type_count = 0
    
    for aircraft_type in aircraft_types:
        type_value = aircraft_type['type'][:45]
        description_value = aircraft_type['aircraft'][:45]
        
        
        with engine.connect() as connection:
            # Check if aircraft type already exists
            aircraft_type_exists = connection.execute(
                "SELECT id_type FROM aircraft_type WHERE aircraft_type = %s",
                (type_value,)
            ).fetchone()
    
        if aircraft_type_exists:
            existing_type_count += 1
        else:
            with engine.connect() as connection:
                try:
                    connection.execute(
                        "INSERT INTO aircraft_type (aircraft_type, aircraft_desc) VALUES (%s, %s)",
                        (type_value, description_value)
                    )
                    print(f'Aircraft type {type_value} inserted successfully.')
                    new_type_count += 1
                except Exception as e:
                    print(f'Error inserting aircraft type {type_value}: {e}')
                    
    print(f'Existing in database: {existing_type_count}\nAdded type to databse: {new_type_count}')

In [21]:
def insert_geolocation_data(geolocation_data):
    added_count = 0
    
    for data_point in geolocation_data:
        flight_hex = data_point.get('hex', '')
        
        # Check if the flight exists in the flight table
        id_flight = get_flight_id(flight_hex)
        if id_flight is None:
            print(f"Error: Flight with hex '{flight_hex}' not found.")
            continue
        
        # Extract geolocation data
        latitude = data_point.get('lat', 0)
        longitude = data_point.get('lon', 0)
        altitude = data_point.get('alt_baro', 0)
        speed = data_point.get('ias', 0)
        heading = data_point.get('track', 0)
        nac_p = data_point.get('nac_p', 0)
        nac_v = data_point.get('nac_v', 0)
        nic = data_point.get('nic', 0)
        nic_baro = data_point.get('nic_baro', 0)
        gpsOkBefore = data_point.get('gpsOkBefore', 0)
        timestamp = data_point.get('timestamp', '')
        
        if altitude == 'ground':
            altitude = -1
        
        # Insert geolocation data into the geolocation table
        with engine.connect() as connection:
            try:
                connection.execute(
                    '''INSERT INTO geolocation (id_flight,
                    latitude,
                    longitude,
                    altitude,
                    speed,
                    heading,
                    nac_p,
                    nac_v,
                    nic,
                    nic_baro,
                    gpsOkBefore,
                    timestamp) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''',
                    (id_flight, 
                     latitude, 
                     longitude, 
                     altitude, 
                     speed, 
                     heading, 
                     nac_p,
                     nac_v,
                     nic,
                     nic_baro,
                     gpsOkBefore,
                     timestamp)
                )
                added_count += 1
            except Exception as e:
                print(f"Error inserting geolocation data: {e}")
    
    print(f"{added_count} geolocation data points inserted successfully.")

In [22]:
def collect_data():
    # opertation 

    data = api_call()

    # Getting timestamp from last API call 
    now_timestamp = data.get('now')
    now_datetime = datetime.fromtimestamp(now_timestamp / 1000.0)
    now_datetime = now_datetime.replace(microsecond=0)

    # Getting lastest timestamp in database 
    latest_timestamp = get_last_timestamp()


    aircraft_list = []

    if now_datetime != latest_timestamp:
        for item in data['ac']:
            dict_info = {
                'hex': item.get('hex', ''),
                'reg': item.get('r', ''),
                'airline': item.get('ownOp', ''),
                'flight': item.get('flight', ''),
                'type': item.get('t', ''),
                'aircraft': item.get('desc', ''),
                'nac_p': item.get('nac_p', 0),
                'nic': item.get('nic', ''),
                'nic_baro': item.get('nic_baro', 0),
                'nac_v': item.get('nac_v', 0),
                'lat': item.get('lat', 0),
                'lon': item.get('lon', 0),
                'alt_baro': item.get('alt_baro', 0),
                'ias': item.get('ias', 0),
                'track': item.get('track', 0),
                'gpsOkBefore': item.get('gpsOkBefore', 0),
                'timestamp': now_datetime
            }
            aircraft_list.append(dict_info)

        # Data Process & insert to DB        
        airline_insert(aircraft_list)
        aircraft_type_insert(aircraft_list)
        flight_insert(aircraft_list)
        insert_geolocation_data(aircraft_list)
        print(f'updated on: {now_datetime}\n{"-"*45}')

    else: 
        print(f"No new update from API - No timestamp difference\n{'-'*45}\nLastest timestamp: {latest_timestamp}")

In [23]:
collect_data()

Airline Transavia France inserted successfully.
Airline Egyptair inserted successfully.
Airline  inserted successfully.
Airline Smartwings inserted successfully.
Airline Aegean Airlines inserted successfully.
Airline Ryanair Designated Activity Company inserted successfully.
Airline C C & E I LLC inserted successfully.
Airline Transavia inserted successfully.
Airline Tuifly inserted successfully.
Airline Emirates Airline inserted successfully.
Airline Lufthansa inserted successfully.
Airline Austrian Airlines inserted successfully.
Airline CARGO AIRCRAFT MANAGEMENT INC inserted successfully.
Airline Turkish Airlines inserted successfully.
Airline Scoot inserted successfully.
Airline Air France inserted successfully.
Airline Ryanair inserted successfully.
Airline Private inserted successfully.
Airline Malta Air inserted successfully.
Airline Swiss International Air Lines inserted successfully.
Airline Royal Air Maroc inserted successfully.
Airline Air Cairo inserted successfully.
Airline Tui Airlines Belgium inserted successfully.
Airline Thomas Cook Airlines Scandinavia inserted successfully.
Airline Sunexpress inserted successfully.
Airline Bon Air Havacilik inserted successfully.
Airline Genel Havacilik inserted successfully.
Airline Pan Havacilik inserted successfully.
Airline Egypt Air inserted successfully.
Airline Austrian inserted successfully.
Airline Cargolux Airlines International inserted successfully.
Airline Air Berlin inserted successfully.
Airline Middle East Airlines inserted successfully.
Airline Arkia Israel Airlines inserted successfully.
Airline Saudi Arabian Airlines inserted successfully.
Airline Eurowings inserted successfully.
Airline Asiana Airlines inserted successfully.
Airline Israir inserted successfully.
Airline Pegasus Airlines inserted successfully.
Airline Air Arabia inserted successfully.
Airline Petroleum Air Services inserted successfully.
Airline Qatar Airways inserted successfully.
Airline Nile Air inserted successfully.
Airline Jordan Aviation inserted successfully.
Airline Royal Jordanian Airlines inserted successfully.
Airline Fly Dubai inserted successfully.
Airline Emirates Airlines inserted successfully.
Airline Iran Aseman Airlines inserted successfully.
Airline Aerologic inserted successfully.
Airline Emirates - United Arab Emirates inserted successfully.
Airline Cathay Pacific inserted successfully.
Airline Cathay Pacific Airways inserted successfully.
Airline Aeroflot Russian Airlines inserted successfully.
Airline UNITED PARCEL SERVICE CO inserted successfully.
Airline Thai Airways International inserted successfully.
Existing airlines in database: 110
Added airlines to database: 55
Aircraft type B738 inserted successfully.
Aircraft type A332 inserted successfully.
Aircraft type A21N inserted successfully.
Aircraft type  inserted successfully.
Aircraft type A320 inserted successfully.
Aircraft type AT46 inserted successfully.
Aircraft type B748 inserted successfully.
Aircraft type B38M inserted successfully.
Aircraft type AT76 inserted successfully.
Aircraft type B789 inserted successfully.
Aircraft type B77W inserted successfully.
Aircraft type A333 inserted successfully.
Aircraft type A321 inserted successfully.
Aircraft type B763 inserted successfully.
Aircraft type A20N inserted successfully.
Aircraft type B788 inserted successfully.
Aircraft type A319 inserted successfully.
Aircraft type B739 inserted successfully.
Aircraft type H25B inserted successfully.
Aircraft type E35L inserted successfully.
Aircraft type C55B inserted successfully.
Aircraft type A388 inserted successfully.
Aircraft type B772 inserted successfully.
Aircraft type LJ35 inserted successfully.
Aircraft type B77L inserted successfully.
Aircraft type E190 inserted successfully.
Aircraft type A343 inserted successfully.
Aircraft type B744 inserted successfully.
Aircraft type CRJ9 inserted successfully.
Aircraft type A359 inserted successfully.
Aircraft type A35K inserted successfully.
Aircraft type B752 inserted successfully.
Aircraft type A342 inserted successfully.
Existing in database: 132
Added type to databse: 33
Updated 0 flights' timestamps. Inserted 165 new flights.
165 geolocation data points inserted successfully.
updated on: 2024-04-12 17:24:33
---------------------------------------------